[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==9.0.1"
django = "==3.2.12"
django-environ = "==0.8.1"
django-debug-toolbar = "==3.2.4"
djangorestframework = "==3.13.1"
django-cors-headers = "==3.11.0"
mysqlclient = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
